@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  font-family: 'Inconsolata',monospace,Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.text-inside {
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text-container {
  max-width: 1128px;
  width: 100%;
  height: 100px;
  padding: 12;
  overflow: hidden;
  /* background: red; */
}

.text-inside {
  display: flex;
  column-gap: 8px;
  row-gap: 18px;
  flex-wrap: wrap;
}

.text-inside p {
  height: 32px;
  display: flex;
  margin: 0px;
  padding: 0;
  place-items: center;
  font-family: 'Fira Code', monospace, 'Roboto Serif', serif;
  background: #FDFDF5;
  border-radius: 8px;
  font-size: small;
  color: #213547;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.text-inside p > span {
  display: flex;
  align-items: center;
  min-width: 4px;
  min-height: 32px;
}
.text-inside p > span:first-child {
  /* background-color: red; */
  padding-left: 12px;
}
.text-inside p > span:last-child {
  padding-right: 12px;
}

.text-inside p > span.right {
  background-color: #e3f1d4;
  color: #131F0D;
  
}
.text-inside p > span.wrong {
  background-color: #F9DEDC;
  color: #410E0B;
}

.text-inside p:hover {
  /* background-color: #C6E7FE; */
  color: #354a70;
}
.text-inside p:hover::before {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0px;
  background-color: hsla(0, 0%, 0%, 0.02);
}

.text-inside p > span.cursor {
  position: relative;
  background-color: hsl(60, 67%, 95%);
}

.cursor::after {
  position: absolute;
  content: "";
  bottom: 0;
  align-self: center;
  max-width: 8px;
  width: 100%;
  height: 2px;
  background-color: #131F0D;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
